.oyyd-blog{
  font-family: ETBembo, Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
  >.header{
    .github-link{
      border-bottom: none;
      img{
        vertical-align: bottom;
        @size: 30px;
        width: @size;
        height: @size;
      }
      margin-left: 10%;
      font-size: 20px;
    }
  }
  >.footer{
    padding-top: 20px;
    text-align: center;
  }
  >.content{
    min-height: 500px;
  }
  h1{
    font-size: 2.8rem;
  }
  p, ol, ul{
    font-size: 1.2rem;
  }
  code{
    width: 55%;
  }
}