.oyyd-blog{
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
  >.header{

  }
  >.footer{
    padding-top: 20px;
    text-align: center;
  }
  >.content{
    min-height: 500px;
  }
  h1{
    font-size: 2.8rem;
  }
  p, ol, ul{
    font-size: 1.2rem;
  }
  code{
    background-color: #fffff8;
  }
}