.blog-PostList{
  padding: 20px;
  min-height: 400px;
  text-align: center;
  .blog-PostLink{
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    height: 300px;
    width: 450px;
    padding: 10px 20px;
    text-align: left;
    margin: 0 20px 20px 0;
    cursor: pointer;
    .title{
      font-size: 22px;
      font-weight: normal;
    }
  }
}